---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Jonas Geschonke | Contact" site="Contact">
    <main>
        <p>
            TEST
        </p>
    </main>
</Layout>