---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Home from "../layouts/Home.astro";
---

<Home title="Jonas Geschonke">
	<main>
		<main>
			<div class="header-spacer-top"></div>
			<div
				class="flex flex-col flex-nowrap justify-center items-center gap-5 bg-secondary"
			>
				<div
					class="flex flex-col flex-nowrap justify-center items-center"
				>
					<h1
						class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-primary-shades-300 to-accent-shades-300"
						style="-webkit-text-fill-color: transparent;"
					>
						Hello,
					</h1>
					<h1
						class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-primary-shades-300 to-accent-shades-300"
						style="-webkit-text-fill-color: transparent;"
					>
						I'm Jonas
					</h1>
					<p class="text-text text-2xl w-full text-center">
						I'm a Fullstack Developer interested in everything
						related to music, data visualisation and data science.
					</p>
				</div>
				<div
					class="flex flex-row flex-nowrap justify-around justify-self-stretch w-full"
				>
					<a href="/about/"><span class="text-2xl text-text">About</span></a>
					<a href="/cv/"><span class="text-2xl text-text">CV</span></a>
					<a href="/contact/"><span class="text-2xl text-text">Contact</span></a>
				</div>
			</div>
			<div class="header-spacer-bottom"></div>
		</main>
	</main>

	<style>
		.nav-item {
			background-image: url("../../public/blurry-gradient-haikei.svg");
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
			font-size: 4rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
		}
	
		.header-spacer-bottom {
			aspect-ratio: 900/100;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-image: url("/hakei-waves-bottom-sec-prim.svg");
		}
	
		.header-spacer-top {
			aspect-ratio: 900/100;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-image: url("/hakei-waves-top-sec-prim.svg");
		}
	</style>
</Home>
