---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div
    class="w-full h-[65px] bg-secondary flex flex-row justify-around items-center"
>
    <a href="/">
        <span class="text-text text-xl">HOME</span>
    </a>
    <span class="text-2xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-primary-shades-300 to-accent-shades-300" style="-webkit-text-fill-color: transparent;">{title}</span>
    <span>QUICK LINKS</span>
</div>
<div class="header-spacer-bottom"></div>
<style>
    .header-spacer-bottom {
        aspect-ratio: 900/100;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("/hakei-waves-bottom-sec-prim.svg");
    }
</style>
