---
import Header from '../components/Header.astro';
interface Props {
	title: string,
	site: string;
}

const { title, site } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal Website of Jonas Geschonke" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background">
		<Header title={site}></Header>
		<slot />
	</body>
</html>
